.array-container {
    position: absolute;
    margin-top: 10vh;
    left: 50px;
}

.array-bar {
    height: 30px;
    width: 4px;
    background-color: rgb(180, 194, 255);
    margin: 1px;
    display: inline-block;
}

.slider-container {
    width: 40%;
}

.content {
    padding: 2vh;
}